<div class="section section-padding">
  <!-- <div class="container">
    <div class="section-title text-center">
      <p class="subtitle">{{ broadcastInfo.subtitle }}</p>
      <h4 class="title">{{ broadcastInfo.title }}</h4>
    </div>
    <div class="row sigma_broadcast-video">
      <div class="col-12 mb-5">
        <div class="row g-0">
          <div class="col-lg-6">
            <div class="sigma_video-popup-wrap">
              <img [src]="getVideoImage(broadcastInfo.preview_image)">
              <a
                href="{{ broadcastInfo.link }}"
                class="sigma_video-popup popup-youtube"
              >
                <i class="fas fa-play"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="sigma_box m-0 h-100 d-flex align-items-center">
              <div>
                <p class="custom-primary mb-0 fw-600 fs-16">
                  {{ broadcastInfo.stream_subtitle }}
                </p>
                <h4 class="title">{{ broadcastInfo.stream_title }}</h4>
                <p class="m-0">{{ broadcastInfo.stream_description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <div class="item">
          <!-- Place your content here to have it be centered vertically and horizontally  -->
          <h1>COMING SOON</h1>
          <p>This feature is under construction.</p>
        </div>
      </div>
    </div>
  </div>
</div>
