<div class="section section-padding" *ngIf="leadership">
    <div class="container">
        <div class="row">
            <!-- Data -->
            <div class="col-lg-3 col-md-6" *ngFor="let item of leadership.leaders">
                <div class="sigma_volunteers volunteers-4">
                    <div class="sigma_volunteers-thumb">
                        <img [src]="item.image" [alt]="item.fullName">
                        <!-- <ul class="sigma_sm" [ngClass]="item.visible ? 'visible':''">
                            <li>
                                <a href="javascript:void(0)" class="trigger-volunteers-socials"
                                    (click)="socialTrigger(item)">
                                    <i class="fal fa-plus"></i>
                                </a>
                            </li>
                            <li *ngFor="let social of item.social"> <a href="{{social.text}}/{{item.name}}"> <i [class]="social.icon"></i> </a> </li>
                        </ul> -->
                    </div>
                    <div class="sigma_volunteers-body">
                        <div class="sigma_volunteers-info">
                            <p>{{item.role}}</p>
                            <h5>
                                <a routerLink="/leader-details/{{item.id}}">{{item.fullName  }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Data -->
        </div>
        <!-- Pagination Start -->
        <!-- <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
        </pagination-controls> -->
        <!-- Pagination End -->
    </div>
</div>
