<div class="section sigma_post-single" *ngIf="leader">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="entry-content">
                    <div class="sigma_volunteer-detail mb-5">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="sigma_member-image style-1">
                                    <img [src]="leader.image" class="mb-0" [alt]="leader.fullName">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="sigma_volunteer-detail-inner mt-5 mt-lg-0 ps-0 ps-lg-4">
                                    <h3 class="sigma_member-name">{{leader.fullName}}</h3>
                                    <span class="sigma_volunteer-detail-category">{{leader.role}}</span>
                                    <ul class="sigma_volunteer-detail-info">
                                        <!-- Data -->
                                        <li>
                                            <i class="fas fa-phone"></i>
                                            <span class="title">Phone:</span>{{leader.phone}}
                                        </li>
                                        <li>
                                          <i class="fas fa-map-marker-alt"></i>
                                          <span class="title">Address:</span>{{leader.address}}
                                      </li>
                                        <!-- Data -->
                                    </ul>
                                    <ul class="sigma_volunteer-detail-info">
                                        <!-- Data -->

                                        <!-- Data -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>About {{leader.fullName}}</h4>
                    <div [innerHtml]="leader.description"></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
