<div class="sigma_box pb-0 m-0">
  <div class="row">
      <div class="col-md-4">
          <div class="sigma_icon-block icon-block-3">
              <div class="sigma_icon-block-content">
                  <h5> Account Holder Name </h5>
                  <p>{{bankDetails.account_holder_name}}</p>
              </div>
          </div>
      </div>

      <div class="col-md-4">
        <div class="sigma_icon-block icon-block-3">
            <div class="sigma_icon-block-content">
                <h5> Account Number </h5>
                <p>{{bankDetails.account_number}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
      <div class="sigma_icon-block icon-block-3">
          <div class="sigma_icon-block-content">
              <h5> Sort Code </h5>
              <p>{{bankDetails.sort_code}}</p>
          </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="sigma_icon-block icon-block-3">
        <div class="sigma_icon-block-content">
            <h5> IBAN </h5>
            <p>{{bankDetails.iban}}</p>
        </div>
    </div>
</div>

<div class="col-md-4">
  <div class="sigma_icon-block icon-block-3">
      <div class="sigma_icon-block-content">
          <h5> SWIFT BIC </h5>
          <p>{{bankDetails.swift_bic}}</p>
      </div>
  </div>
</div>

</div>

