<!-- CTA Start -->
<div class="section pt-0" *ngIf="details">
  <div class="container">
    <div class="row position-relative">
      <div class="col-lg-7 col-md-6">
        <div class="sigma_cta lg secondary-bg">
          <!-- <img class="d-none d-lg-block" src="assets/img/cta/3.png" alt="cta"> -->
          <div class="sigma_cta-content">
            <span class="fw-600 custom-primary"
              >{{details.info_text_1}}</span
            >
            <h4 class="text-white">{{details.info_content_1}}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 position-relative">
        <div class="sigma_cta sm primary-bg">
          <span class="sigma_cta-sperator d-none d-lg-flex">or</span>
          <div class="sigma_cta-content">
            <div class="sigma_cta-content">
              <span class="fw-600 custom-primary"
                >{{details.info_text_2}}</span
              >
              <h4 class="text-white">{{details.info_content_2}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CTA End -->
