<div class="section mt-negative pt-0">
  <div class="container">
    <form [formGroup]="addMemberForm" class="sigma_box box-lg m-0">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Name"
              formControlName="name"
              [ngClass]="getValidationClass('name')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Middle Name"
              formControlName="middleName"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Surname"
              formControlName="surname"
              [ngClass]="getValidationClass('surname')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Postcode"
              formControlName="postcode"
              [ngClass]="getValidationClass('postcode')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="number"
              class="form-control dark"
              placeholder="House number"
              formControlName="house_number"
              [ngClass]="getValidationClass('house_number')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Address"
              formControlName="address"
              [ngClass]="getValidationClass('address')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Email"
              formControlName="email"
              [ngClass]="getValidationClass('email')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control dark"
              placeholder="Phone"
              formControlName="phone"
              [ngClass]="getValidationClass('phone')"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <select class="form-control" formControlName="sex" >
              <option *ngFor="let item of memberSex">{{ item }}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <select class="form-control" formControlName="memberType" (change)="onSelectionChange($event.target.value)">
              <option *ngFor="let item of membershipTypes">{{ item }}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <select class="form-control" *ngIf="showDepartments" formControlName="departments">
              <option *ngFor="let item of departments"  [value]="item.key">{{ item.label }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="rememberMe"
              formControlName="optedInGiftAidDonation"
              (change)="onPrivacyPolicyClick($event)"
            />
            <label class="custom-control-label" for="rememberMe"
              >By ticking, you are confirming that you have read, understood and agree to MIRACLE TEMPLE ASSEMBLIES OF GOD <a routerLink="/terms">terms and condition</a></label
            >
          </div>
        </div>
      </div>
      <div *ngIf="isTermsAgreed" class="text-center">
        <button
          type="submit"
          class="sigma_btn-custom"
          name="button"
          (click)="onSubmit()"
          [disabled]="isSubmitDisabled()"
        >
          Submit Now
        </button>
      </div>

      <div *ngIf="showOkMessage" class="contact-message w-100">
        <div class="contact-success w-100 mt-3">
          <ngb-alert type="success" class="mb-0 w-100" [dismissible]="false">
            <strong>Success!</strong> Information has been successfully
            submitted.
          </ngb-alert>
        </div>
      </div>
      <div *ngIf="showErrorMessage" class="contact-message w-100">
        <div class="contact-success w-100 mt-3">
          <ngb-alert type="danger" class="mb-0 w-100" [dismissible]="false">
            <strong>Failed!</strong> Please check the information submitted.
          </ngb-alert>
        </div>
      </div>
    </form>
  </div>
</div>
