<div class="section sigma_post-single" *ngIf="event">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-detail-wrapper">
                    <div class="entry-content">
                        <a href="{{event.cover_image_path}}" class="gallery-thumb">
                            <img [src]="event.cover_image_path" [alt]="event.title">
                        </a>
                        <h4>{{event.title}}</h4>

                        <div [innerHtml]="event.description"></div>
                    </div>
                    <div class="section">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget event-info">
                        <h5 class="widget-title"> Information </h5>
                        <ul class="sidebar-widget-list">
                            <li><span>Date:</span> {{getDateInitials(event.day)}}</li>
                            <li><span>Time:</span> {{ getTimeDetails(event.start_time, event.end_time) }}</li>
                            <li><span>Location:</span> {{event.location}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
