.container {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.responsive-iframe {
  position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 80%;
}

@media only screen and (max-width: 600px) {

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 12%;
    width: 80%;
    height: 80%;
  }

}
